*.log
*.tmp
*.tar.gz
*firebase-adminsdk*.json
service-account*.json

.firebase/
node_modules/
web/node_modules/
web/dist/
web/firebase-debug.log
web/.firebase/
web/android/.gradle/
web/android/build/
web/android/app/build/
web/android/capacitor-cordova-android-plugins/build/

controller/.scala-build/
