node_modules/
dist/
release/
.firebase/

web/node_modules/
web/dist/
web/release/
web/.firebase/
web/vite-*.log

controller/.scala-build/

firebase-debug.log
firebase-*.log
*.local
*.env
itstelkom-firebase-adminsdk-*.json
