[Unit]
Description=ITS Raspberry Controller
After=network-online.target camera-stream.service
Wants=network-online.target camera-stream.service

[Service]
Type=simple
User=raspberry5its
SupplementaryGroups=gpio video
WorkingDirectory=/home/raspberry5its/its-controller
Environment=ITS_OUTPUT_PATH=/home/raspberry5its/its-maps/web/public/data/its-state.json
Environment=ITS_INTERVAL_SECONDS=1
Environment=ITS_PUBLISH_OFFLINE_ON_SHUTDOWN=false
Environment=ITS_GPIO_ENABLED=true
Environment=ITS_GPIO_RED_PIN=17
Environment=ITS_GPIO_YELLOW_PIN=27
Environment=ITS_GPIO_GREEN_PIN=22
Environment=ITS_GPIO_ACTIVE_LOW=false
Environment=ITS_GPIO_SELF_TEST=true
Environment=ITS_GPIO_SELF_TEST_SECONDS=2
Environment=ITS_YOLO_ENABLED=true
Environment=ITS_YOLO_MODEL_PATH=/home/raspberry5its/models/yolo26n.onnx
Environment=ITS_YOLO_CAMERA_SOURCE=0
Environment=ITS_YOLO_CONFIDENCE=0.15
Environment=ITS_CAMERA_MODE=mjpeg
Environment=ITS_CAMERA_TUNNEL_ENABLED=true
Environment=ITS_CAMERA_TUNNEL_PROVIDER=cloudflare
Environment=ITS_CAMERA_WEBRTC_PORT=8080
Environment=ITS_CAMERA_WEBRTC_PATH=cam/
Environment=ITS_CAMERA_STREAM_HEALTH_PATH=stream.mjpg
Environment=ITS_WEBRTC_ENABLED=true
Environment=ITS_WEBRTC_SIGNAL_PATH=webrtc/devices/raspberry-its
ExecStart=/usr/bin/bash /home/raspberry5its/its-controller/run-controller-public.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
